<li>
  {{review.user}}'s Movie Review for {{review.movie}}
  {{#if isImageShowing}}
  <p><img src={{review.image}} alt={{review.movie}} {{action 'imageHide'}}></p>
  <h3><em>Review:</em> {{review.user_review}}</h3>
{{else}}
  <button {{action 'imageShow'}}>Show Review</button>
{{/if}}
{{update-review review=review update="update"}}
 <button {{action 'delete' review}}>Delete Review</button>
</li>
