{{#if updateReviewForm}}
  <h4>Update {{review.user}}'s Movie Review For {{review.movie}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="user">User</label>
        {{input value=user id="user"}}
      </div>

      <div class="form-group">
        <label for="movie">Movie</label>
        {{input value=movie id="movie"}}
      </div>

      <div class="form-group">
        <label for="director">Director</label>
        {{input value=director id="director"}}
      </div>

      <div class="form-group">
        <label for="genre">Movie Genre</label>
        {{input value=genre id="genre"}}
      </div>

      <div class="form-group">
        <label for="user_review">Your Review</label>
        {{input value=user_review id="user_review"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <button {{action 'update' review}}class="btn btn-primary">Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateReviewForm'}}class="btn blue material-icons">mode_edit</button>
{{/if}}
